<div class="pic">
    <img picsrc="<%= pic%>" src="/images/pic/<%= pic%>" alt="头像">
</div>

<div class="quit">
    <button class="btn btn-warning">退出</button>
</div>

<div class="user-msg">
    <div>昵称：<span><%= name%></span>&nbsp;&nbsp;&nbsp;&nbsp;性别：<span><%= sex%></span></div>
    <div class="user-id">ID：<span class="id-date"><%= id%></span></div>
</div>

<div class="fd-list-btn row-fluid">
    <button class="btn btn-success span12" title="点我收起或展开">好友列表</button>
</div>

<div class="fd-list row-fluid">
    <ul class="list-unstyled span12">
        
    </ul>
</div>

<div class="search">
    <div class="form-search">
        <div class="input-append">
            <input type="text" class="span10 search-query" name="search" placeholder="搜用户，加好友...">
            <button type="button" class="btn btn-inverse">Search</button>
        </div>
    </div>
    <div class="search-res">

    </div>
</div>